@model FoodOrder.Core.ViewModels.Foods.FoodVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Delete FoodOrder</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Delete FoodOrder</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <div>
                <h4>FoodVM</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Count)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Count)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
