@model FoodOrder.Core.ViewModels.Foods.FoodVM
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@using FoodOrder.Core.Helpers;
@using FoodOrder.Core.ViewModels.Ratings;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PaginatedList<RatingVM> ratingVMs = ViewBag.RatingVMs as PaginatedList<RatingVM>;
}
<div class="container-fluid">
    <h1 class="mt-4">Food detail</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Food detail</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Count)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Count)
                    </dd>
                    <dt class="col-sm-2">
                        Image
                    </dt>
                    <dd class="col-sm-10">
                        <a href="@(Configuration["BaseAddress"] + Configuration["user-content"] + "/" + Model.ImagePath)" title="@Model.ImagePath">
                            <img src="@(Configuration["BaseAddress"] + Configuration["user-content"] + "/" + Model.ImagePath)" style="width:150px;height:150px" alt="@Model.ImagePath" />
                        </a>
                    </dd>
                    <dt class="col-sm-2">
                        Categories
                    </dt>
                    <dd class="col-sm-10">
                        <ul class="list-group">
                            @foreach (var item in Model.CategoryVMs)
                            {
                                <li class="list-group-item">
                                    @Html.ActionLink(item.Name, "Details", "Categories", new { id = item.ID })
                                </li>
                            }
                        </ul>
                    </dd>

                    <dt class="col-sm-2">
                        User reviews
                    </dt>
                    <dd class="col-sm-10">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">User name</th>
                                    <th scope="col">Star</th>
                                    <th scope="col">Comment</th>
                                    <th scope="col">Time</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < ratingVMs.Items.Count(); i++)
                                {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@ratingVMs.Items[i].UserFullName</td>
                                    <td>@ratingVMs.Items[i].Star</td>
                                    <td>@ratingVMs.Items[i].Comment</td>
                                    <td>@ratingVMs.Items[i].TimeCreate</td>
                                </tr>
                                }
                               
                            </tbody>
                        </table>


                    </dd>
                </dl>

                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
                </div>
            </div>
        </div>
    </div>
</div>