@model FoodOrder.Core.ViewModels.Carts.CartVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Cart Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Cart Details</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AppUserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.ActionLink(Model.AppUserId.ToString(), "Details", "User", Model.AppUserId.ToString())
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FoodID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
            </dl>

            <div>
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleTypes.Admin)).Succeeded)
                {
                    <a class="btn btn-primary" href=@Url.Action("Edit", new { userID = Model.AppUserId, foodID = Model.FoodID })>Edit</a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleTypes.Admin)).Succeeded)
                {
                    <a class="btn btn-primary" href=@Url.Action("Delete", new { userID = Model.AppUserId, foodID = Model.FoodID })>Delete</a>
                }
            </div>
        </div>
    </div>
</div>

