@using FoodOrder.Core.Helpers;
@model PaginatedList<FoodOrder.Core.ViewModels.Carts.CartVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">List Cart</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">List Cart</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Create">Create New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AppUserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().FoodID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Quantity)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.AppUserId.ToString(), "Details", "User", new { id = item.AppUserId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoodID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { userID = item.AppUserId, foodID = item.FoodID }) |
                                    @Html.ActionLink("Details", "Details", new { userID = item.AppUserId, foodID = item.FoodID }) |
                                    @Html.ActionLink("Delete", "Delete", new { userID = item.AppUserId, foodID = item.FoodID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

