@model FoodOrder.Core.ViewModels.Promotions.PromotionVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Delete Promotion</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Delete Promotion</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Desciption)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Desciption)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UseTimes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UseTimes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Percent)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Percent)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Enabled)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Enabled)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Max)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Max)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MinPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinPrice)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>