@model FoodOrder.Core.ViewModels.Promotions.PromotionVM

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Promotion detail</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Promotion detail</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    Image
                </dt>
                <dd class="col-sm-10">
                    <a href="@(Configuration["BaseAddress"] + Configuration["user-content"] + "/" + Model.ImagePath)" title="@Model.ImagePath">
                        <img src="@(Configuration["BaseAddress"] + Configuration["user-content"] + "/" + Model.ImagePath)" style="height:150px" alt="@Model.ImagePath" />
                    </a>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Desciption)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Desciption)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UseTimes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UseTimes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Percent)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Percent)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Enabled)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Enabled)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Max)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Max)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MinPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinPrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsGlobal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsGlobal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Priority)
                </dd>



            </dl>

            <div>

                @if ((await AuthorizationService.AuthorizeAsync(User, RoleTypes.Admin)).Succeeded)
                {
                    <a class="btn btn-primary" href=@Url.Action("Delete", new { id = Model.ID })>Delete</a>
                }

                <a class="btn btn-primary" href=@Url.Action("Edit", new { id = Model.ID })>Edit</a>

            </div>
        </div>
    </div>
</div>