@model FoodOrder.Core.ViewModels.Addresses.AddressVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">.Address detail</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">.Address detail</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AppUserID)
                </dt>
                <dd class="col-sm-10">
                    @Html.ActionLink(Model.AppUserID.ToString(), "Details", "User", new { id = Model.AppUserID })
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AddressString)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AddressString)
                </dd>
            </dl>

            <div>
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleTypes.Admin)).Succeeded)
                {
                    <a class="btn btn-primary" href=@Url.Action("Delete", new { id = Model.ID })>Delete</a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleTypes.Admin)).Succeeded)
                {
                    <a class="btn btn-primary" href=@Url.Action("Edit", new { id = Model.ID })>Edit</a>
                }
            </div>
        </div>
    </div>
</div>